.send-new{
  width: 100%;
  display: block;
  &__main{
    width: 700px;
    margin: 0 auto;
    background: #fff;
    &__top{
      font-size: 22px;
      padding: 32px;
      line-height: 1.5;
      text-align: center;
      h2{
        font-weight: bold;
      }
    }
    &__middle{
      padding: 40px 40px 64px;
      border-top: 1px solid #f5f5f5;
      &__center{
        max-width: 343px;
        margin: 0 auto;
        &__form-name{
          margin-top: 32px;
          width: 100%;
          /*height: 70px;*/
          &__div{
            width: 100%;
            label{
              font-weight: 600;
              display: inline-block;
              font-size: 14px;
            }
            .form-box{
              background: #3CCACE;
              margin: 0 0 0 8px;
              padding: 3px 5px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              /*vertical-align: top;*/
            }
          }
          .family_name{
            width: calc(50% - 6px);
            margin: 8px 3px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          input.invalid { // バリデーションNGの場合に枠線を赤色に変更
            border: #ea352d 1px solid;
          }
          input.valid {
            border: #3CCACE 1px solid; // バリデーションokの場合に枠線を緑色に変更
          }
        }
        &__form-groups{
          margin-top: 32px;
          width: 100%;
          /*height: 70px;*/
          label{
            font-weight: 600;
            display: inline-block;
            font-size: 14px;
          }
          .form-box{
            background: #3CCACE;
            margin: 0 0 0 8px;
            padding: 3px 5px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            /*vertical-align: top;*/
          }
          .form-boxs{
            background: rgb(29, 170, 236);
            margin: 0 0 0 8px;
            padding: 3px 5px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            /*vertical-align: top;*/
          }
          .family_name{
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          input.invalid { // バリデーションNGの場合に枠線を赤色に変更
            border: #ea352d 1px solid;
          }
          input.valid {
            border: #3CCACE 1px solid; // バリデーションokの場合に枠線を緑色に変更
          }
          .select{
            width: 100%;
            &__wrap{
              width: 100%;
              display: inline-block;
              margin: 8px 0 0;
              position: relative;
              background: #fff;
              &__icon{
                position: absolute;
                right: 12px;
                top: 12%;
                z-index: 2;
                color: #888;
                font-size: 25px;
              }
              select::-ms-expand {
                display: none;
              }
              select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding: 0 10px;
                border-color: #3CCACE;
                width: 100%;
                position: relative;
                z-index: 2;
                height: 48px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                -webkit-appearance: none;
              }
              &__default{
                padding: 0 10px;
                border-color: #3CCACE;
                width: 100%;
                position: relative;
                z-index: 2;
                height: 48px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                -webkit-appearance: none;
              }
            }
          }
          input.invalid { // バリデーションNGの場合に枠線を赤色に変更
            border: #ea352d 1px solid;
          }
          input.valid {
            border: #3CCACE 1px solid; // バリデーションokの場合に枠線を緑色に変更
          }
        }
      }
      &__down{
        max-width: 343px;
        margin: 0 auto;
        &__btn{
          margin-top: 60px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}

#family_name-error, #first_name-error, #family_name_reading-error, #first_name_reading-error, #postal_code-error, #prefecture-error, #city-error, #address-error{
color: #ea352d;
  line-height: 1.5;
  font-size: 14px;
  margin-top: 8px;
  list-style: none;
}
// 入力欄をクリック時に枠線を水色に変更
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  outline: none;
  border-color: #0098E8;
}


