.wrapper
  .header
    %h1.header__center

  .main
    .main__up
      %h2.main__up__center
    
    .main__down
      .main__down__centerbox

        .main__down__centerbox__mail
          .main__down__centerbox__mail__icon
          .main__down__centerbox__mail__text

        .main__down__centerbox__facebook
          .main__down__centerbox__facebook__icon
          .main__down__centerbox__facebook__text

        .main__down__centerbox__google
          .main__down__centerbox__google
          .main__down__centerbox__google
      
  .footer
    .footer__box
      .footer__box__up
        %ul.footer__box__up__clearfix
          %li
          %li
          %li
      .footer__box__middle
        .footer__box__middle__image
      .footer__box__down
        ..footer__box__down__small
