.wrapper
  = render partial: 'header'

  .main
    .main__center
      %h2.main__center__up
        新規会員登録
    
      .main__center__down
        .main__center__down__centerbox

          .main__center__down__centerbox__default
            .main__center__down__centerbox__default__mail
              = link_to "#" do
                .main__center__down__centerbox__default__mail__icon
                  = icon('far', 'envelope')

                .main__center__down__centerbox__default__mail__text
                  メールアドレスで登録する

            .main__center__down__centerbox__default__facebook
              .main__center__down__centerbox__default__facebook__icon
              .main__center__down__centerbox__default__facebook__text

            .main__center__down__centerbox__default__google
              .main__center__down__centerbox__default__google
              .main__center__down__centerbox__default__google
      
  = render partial: 'footer'



