.wrapper
  = render partial: 'signin-header'

  .new
    .new__main
      .new__main__top
        %h2 会員情報入力

      %form.new__main__middle
        .new__main__middle__center
        
          .new__main__middle__center__form-group
            %label ニックネーム
            %span.form-box 必須
            %input.form-nick{:name => "nickname", :placeholder => "例） フリマ次郎", :type => "text", :value => ""}

          .new__main__middle__center__form-groups
            %label メールアドレス
            %span.form-box 必須
            %input.form-mail{:name => "email", :placeholder => "PC・携帯どちらでも可", :type => "email", :value => ""}

          .new__main__middle__center__form-password
            %label パスワード
            %span.form-box 必須
            %input.form-pass{:name => "password", :placeholder => "7文字以上の半角英数", :type => "password", :value => ""}
            %p.form-info ※英字と数字の両方を含めて設定してください。

            .check-box
              %input.check-pass{:type => "check_box", :value => ""}
              %i.icon
              %label パスワードを表示する
            .check-mark
              %span.check-marker

          