
          
            .input
            .input-half

          .new__main__middle__center__form-group
            .new__main__middle__center__form-group__line
              %label お名前カナ（全角）
              %span 必須
            .input
            .input-half

          .new__main__middle__center__form-group
            .new__main__middle__center__form-group__line
              %label 生年月日
              %span 必須
            .birthday-select
              .birthday-select__year
              %span 年
              .birthday-select__month
              %span 月
              .birthday-select__day
              %span 日
          
          %p.new__main__middle__center__info
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間をいただく場合があります。


      
        .new__main__down__text
          %p.new__main__down__text__center
        .new__main__down__submit
          次へ進む

  .footer