.wrapper
  .header
    %h1.header__center
  
  .login-main
    .login-main__center

      .login-main__center__account
        %p アカウントをお持ちでない方はこちら
        .login-main__center__account__no
          新規会員登録

      .login-main__center__inner
        .login-main__center__inner__facebook
          .login-main__center__inner__facebook__icon
          .login-main__center__inner__facebook__text
            Facebookでログイン

        .login-main__center__inner__google
          .login-main__center__inner__google__icon
          .login-main__center__inner__google__text
            Googleでログイン

      .login-main__center__login
        .login-main__center__login__box
          .login-main__center__login__box__form
            .login-main__center__login__box__form__text
              メールアドレス

          .login-main__center__login__box__form
            .login-main__center__login__box__form__text
              パスワード

          .login-main__center__login__box__submit
            ログイン