.footer__box{
  width: 456px;
  height: 220px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 40px 0;
  text-align: center;
  &__up{
    display: block;
    width: 100%;
    height: 12px;
    line-height: 12px;
    ul{
      font-size: 0;
      list-style: none;
      li{
        display: inline-block;
        margin: 0 0 0 16px;
        font-size: 12px;
        a{
          text-decoration: none;
          color: #333;
        }
      }
    }
  }
  &__middle{
    width: 100%;
    &__image{
      vertical-align: middle;
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
  }
  &__down{
    width: 100%;
    height: 14px;
    &__small{
      font-size: 13px;
    }
  }
}