.header{
  height: 128px;
  width: 100%;
  text-align: center;
  background-color: #f5f5f5;
  &__center{
    margin: 40px 0 0;
    display: inline-block;
    &__icon{
      width: 185px;
      height: 49px;
      line-height: 49px;
      display: inline-block;
      margin: 0 8px 0 0;
      text-decoration: none;
      touch-action: manipulation;
    }
  }
}