.new{
  width: 100%;
  display: block;
  &__main{
    width: 700px;
    margin: 0 auto;
    background: #fff;
    &__top{
      font-size: 22px;
      padding: 32px;
      line-height: 1.5;
      text-align: center;
      h2{
        font-weight: bold;
      }
    }
    &__middle{
      padding: 40px 40px 64px;
      border-top: 1px solid #f5f5f5;
      &__center{
        max-width: 343px;
        margin: 0 auto;
        &__form-group{
          margin: 0;
          width: 100%;
          height: 70px;
          label{
            font-weight: 600;
            display: inline-block;
            font-size: 14px;
          }
          .form-box{
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 3px 5px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          .form-nick{
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        &__form-groups{
          margin-top: 32px;
          width: 100%;
          height: 70px;
          label{
            font-weight: 600;
            display: inline-block;
            font-size: 14px;
          }
          .form-box{
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 3px 5px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          .form-mail{
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        &__form-password{
          margin-top: 32px;
          width: 100%;
          label{
            font-weight: 600;
            display: inline-block;
            font-size: 14px;
          }
          .form-box{
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 3px 5px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          .form-pass{
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          p{
            margin: 8px 0 0;
            line-height: 1.5;
          }
          .form-info{
            color: #888;
            font-size: 14px;
          }
          .check-box{
            margin: 16px 0 0;
            position: relative;
            font-size: 0;
            .check-pass{
              display: none;
            }
            .icon{
              position: absolute;
              left: 0;
              z-index: 1;
              width: 20px;
              height: 20px;
              border-radius: 2px;
              background: #fff;
              border: 1px solid #ccc;
              font-size: 10px;
              line-height: 17px;
              text-align: center;
              color: #fff;
              vertical-align: middle;
              padding-top: 2px;
            }
            label{
              position: relative;
              z-index: 2;
              padding: 0 0 0 28px;
              font-size: 14px;
              font-weight: 400;
              vertical-align: middle;
              cursor: pointer;
              display: inline-block;
            }
          }
          .check-mark{
            display: none;
            line-height: 1.5;
            font-size: 16px;
            font-weight: 500;
            font-family: monospace;
            margin: 14px 0;
            word-break: break-all;
            overflow-wrap: break-word;
            .check-marker{
              display: none;
              background-color: #f5f5f5;
              padding: 4px 8px;
            }
          }
        }
      }
    }
  }
}